/**
 * @file config.h
 * 
 * @brief
 * place here your:
 * 
 * your max7219 pins
 * network configurations
 * ntp servers address
 * timezone
 * 
 * @copyright Copyright (c) 2023
 * 
 */
#pragma once

#define CLK_PIN   D5
#define DATA_PIN  D7
#define CS_PIN    D8

#define SSID "NTP-RTC"
#define PASSWORD "xxxxxx11"

#define SERVER1 "time.inrim.it"
#define SERVER2 "0.it.pool.ntp.org"
#define SERVER3 "time.windows.com"
#define SERVER4 "pool.ntp.org"
#define SERVER5 "ntp1.inrim.it"
#define SERVER6 "ntp2.inrim.it"

Timezone MyTMZ = CE;  //check timezones.h to choose yours or add a new one
