/**
 * @file config.h
 * 
 * @brief
 *     Change the file name in "config.h"
 *
 *     Place here your:
 * 
 *      your max7219 pins
 *      network configurations
 *      ntp server address (check data/ntpservers.h)
 *      timezone (check data/timezones.h to choose yours or add a new one)
 * 
 * @copyright Copyright (c) 2023
 * 
 */

#pragma once

#include "../data/timezones.h"
#include "../data/ntpservers.h"

#define CLK_PIN   D5
#define DATA_PIN  D7
#define CS_PIN    D8

const char SSID[] = "NTP-RTC";
const char PASSWORD[] = "xxxxxx11";

const char NTPserver[] = SERVER1;

Timezone MyTMZ = CE;
